<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-button type="text" @click="dialogVisible = true">登录</el-button>
    <br>

    <el-row :gutter="20">
        <el-col :span="16"><el-input v-model="payload" placeholder="payload"></el-input></el-col>
        <el-col :span="6"><el-button type="primary" @click="payloadClick">存储型</el-button></el-col>
    </el-row>

    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            :close-on-click-modal="false"
            width="40%">
        <span>
            <el-input v-model="user_name" placeholder="用户名"></el-input>
        </span>

        <el-input v-model="user_password" placeholder="密码"></el-input>
        <span slot="footer" class="dialog-footer">
            <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
            <el-button type="primary" @click="loginClick">确 定</el-button>
        </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="dialogSaveMsgVisible"
            :close-on-click-modal="false"
            width="40%">
        <span>保存成功</span>

        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogSaveMsgVisible = false">确 定</el-button>
        </span>
    </el-dialog>

    <el-row :gutter="20">
        <el-col :span="6"><el-input v-model="input" placeholder="请输入内容"></el-input></el-col>
        <el-col :span="6"><el-button @click="btn0Click">查找</el-button></el-col>
    </el-row>


    <el-row :gutter="20">
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <!-- 双花括号解释为字符串
                    <div>{{message}}</div>
                -->
                <!-- v-html解释html标签-->
                <div id="xssmsg" v-html="message"></div>
            </div>
        </el-col>
    </el-row>

    <el-row :gutter="20">
        <el-col :span="16"><el-input v-model="reflect_payload" placeholder="reflect_payload"></el-input></el-col>
        <el-col :span="6"><el-button type="primary" @click="reflectClick">反射型</el-button></el-col>
    </el-row>

    <el-row :gutter="20">
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <div id="reflect_xss" v-html="reflect_message"></div>
            </div>
        </el-col>
    </el-row>

    <!--<el-button @click="btn1Click">Button</el-button>
    <template>
        <el-table
                :data="items"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="message"
                    label="消息"
                    width="180">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>-->
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                payload: '',
                reflect_message: '',
                reflect_payload: '',
                user_name: '',
                user_password: '',
                dialogVisible: false,
                dialogSaveMsgVisible: false,
                btn0State: false,
                message: '',
                input: '',
                items: [],
                messageDetail: {
                    id: 0,
                    message: ''
                }
            }
        },
        methods: {
            btn0Click() {
                axios.get('/message/getMessageById', {
                    params: {
                        id: this.input
                    }
                })
                    .then(response => {
                        console.log(response);
                        console.log('-----------');
                        console.log(response.data);
                        if (response.data.result === 'success') {
                            this.message = response.data.messageDto.message;
                        } else {
                            this.dialogVisible = true;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            btn1Click() {
                axios.post('/message/getMessage', {
                    params: {}
                })
                    .then(response => {
                        console.log(response.data);
                        this.items = response.data;
                        console.log('-----------');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            loginClick() {
                console.log(this.user_name);
                console.log(this.user_password);
                axios.post('/user/login', {
                        name: this.user_name,
                        password: this.user_password
                },{
                    headers: {'Content-Type': 'application/json'}
                }).then(response => {
                        console.log(response);
                        console.log('-----------');
                        console.log(response.data.result);
                        if (response.data.result === 'success') {
                            this.dialogVisible = false;
                        } else {
                            this.dialogVisible = true;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            payloadClick() {
                console.log(this.payload);
                axios.post('/message/saveMessage', {
                    message: this.payload
                },{
                    headers: {'Content-Type': 'application/json'}
                }).then(response => {
                    console.log(response);
                    console.log('-----------');
                    console.log(response.data.result);
                    if (response.data.result === 'success') {
                        this.dialogSaveMsgVisible = true;
                    } else {
                        this.dialogSaveMsgVisible = false;
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            reflectClick() {
                axios.get('/message/reflectXSS', {
                    params: {
                        message: this.reflect_payload
                    }
                })
                    .then(response => {
                        console.log(response);
                        console.log('-----------');
                        console.log(response.data);
                        this.reflect_message = response.data.message;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })

</script>
<style>
    .el-input {
        margin: 10px;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
</style>
</html>